<div class="main-add" style="background: #FFFFFF;">
    <div class="row" style="padding: 2%; margin: 0px ">
     
        <div class="col-3">
            <img src="/images/today_product.png" style="width:100%; height: auto;">
        </div>
        <% goodslist.forEach(function(item){ %>
        <div class="col-2">
                <img src="/images/product/sample_1.jpg" style="width:70%; height: auto;">
                <p><%=item.goo_name%></p>
        </div>
        <% }) %>
        <div class="col-1"> 
        </div>
        
    </div>
</div>

<div style="padding-left:20px; padding-top:40px; margin-bottom:400px">
<h1>등록된 상품이 없습니다!!!</h1>
</div>